<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reine.store.mapper.OrderMapper">

    <!--    插入操作完成后，会将数据库自动生成的主键oid的值填充到oid中-->
    <insert id="insertOrder" parameterType="com.reine.store.entity.Order" keyProperty="oid" useGeneratedKeys="true">
        INSERT INTO store.t_order (uid, recv_name, recv_phone, recv_province, recv_city, recv_area, recv_address,
                                   total_price, status, order_time, pay_time, created_user, created_time, modified_user,
                                   modified_time)
        VALUES (#{uid}, #{recvName}, #{recvPhone}, #{recvProvince}, #{recvCity}, #{recvArea},
                #{recvAddress}, #{totalPrice}, #{status}, #{orderTime}, #{payTime}, #{createdUser},
                #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>
    <insert id="insertOrderItem" parameterType="com.reine.store.entity.OrderItem">
        INSERT INTO store.t_order_item (oid, pid, title, image, price, num, created_user,
                                        created_time, modified_user, modified_time)
        VALUES (#{oid}, #{pid}, #{title}, #{image}, #{price}, #{num}, #{createdUser},
                #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>


</mapper>
